{%extends 'base.html'%}
{%block head%}
	<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{%endblock head%}

{%block content%}

	<div class="center_con clearfix">
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片" height="100%"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片" height="100%"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片" height="100%"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片" height="100%"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<div class="subtitle fl">
			</div>
			<a href="/list1_1_1/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<ul class="goods_list fl">
				<li>
                    {%for g in type01%}
					<a href="/{{g.id}}/"><img src="/{{g.gpic}}" width ="100%"></a>
                    {%endfor%}
				</li>
                <li>
                    {%for g in type11%}
					<a href="/{{g.id}}/"><img src="/{{g.gpic}}" width ="100%"></a>
                    {%endfor%}
				</li>
                            <li>
                    {%for g in type21%}
					<a href="/{{g.id}}/"><img src="/{{g.gpic}}" width ="100%"></a>
                    {%endfor%}
				</li>

			</ul>
	</div>



{%endblock content%}