{%extends 'base_foot.html'%}
{% load staticfiles %}

{%block head%}
	<script type="text/javascript" src="/static/js/register.js"></script>
{%endblock head%}

{%block body%}

	<div class="register_con">
		<div class="l_con fl">
			<a class="reg_logo"><img src="/static/images/logo6.png"></a>
			<div class="reg_slogan">让艺术贴近生活</div>
			<div class="reg_banner"></div>
		</div>

		<div class="r_con fr">
			<div class="reg_title clearfix">
				<h1>添加作品</h1>
				<a href="/user/info/">返回</a>
			</div>
			<div class="reg_form clearfix">
				<form enctype="multipart/form-data" action="/operation/addgoods_handle/" method="post" id="reg_form">
					{%csrf_token%}
				<ul>
					<li>
						<label>作品名:</label>
						<input type="text" name="book_name" id="book_name">
					</li>					
					<li>
						<label>文件路径:</label>
						<input type="file" name="book_link" id="book_link">
					</li>
					<li>
						<label>作品图片:</label>
						<input type="file" name="book_img" id="book_img">
					</li>
					<li>
						<label>作者:</label>
						<input type="text" name="author" id="author">
					</li>
					<li>
						<label>作品信息:</label>
                        <textarea name="content" id="content" clos=",50" rows="5" warp="virtual"></textarea>
					</li>
                    <li>
						<label>作品类型:</label>
                        <select name="gtype" required="" id="gtype">
                             <option value="">---------</option>
                             <option value='1' selected="">画作</option>
                             <option value='2'>设计</option>
                             <option value='3'>摄影</option>
                             <option value='4'>雕塑</option>
                             <option value='5'>小说</option>
                        </select>
					</li>
					<li class="reg_sub">
						<input type="submit" value="提 交">
					</li>
				</ul>				
				</form>
			</div>

		</div>

	</div>
{%endblock body%}
